<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to your camera for video calls.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to your microphone for audio calls.</string>
</dict>
</plist>
